/*通用设置*/
a, address, b, big, blockquote, body, center, cite, code, dd, del, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, label, legend, li, ol, p, pre, small, span, strong, u, ul, var {
    margin: 0;
    padding: 0;
}




.tabBar{
    position:fixed; bottom: 0px; left: 0px;
    display: inline-block;
    width: 100%;
    padding-top: 8px;
    border-top:0.5px solid #000;
    background-color: white;
    font-size:0;
    word-spacing:-1px;
}

.tabBar .module{
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 20%;
    text-align: center;
    /*background-color: beige;*/
}

.tabBar .module img{
    display: inline-block;
    text-align: center;
    width: 25px;
    height: 25px;
    /*background-color: aqua;*/
}

.tabBar .module label{
    display: block;
    text-align: center;
    /*background-color: burlywood;*/
    margin-bottom: 5px;
    margin-top: 5px;
    font-size:15px;
}